<!-- <footer class="footer navbar-fixed-bottom"> -->
<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="col-xs-6 ">
            <p><strong>Resources</strong></p>
            <p>About Us</p>
            <p>Contact Us</p>
            <p><strong>RestaurantsOnline (2016)</strong>      
            <p>
               <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
               <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
               <i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i>
               <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
               <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
            </p>               
         </div>         
         <div class="col-xs-6">
            <p><strong>Mobile Applications</strong></p>
            <p><img class="mobileLink" src="images/ios.ca.en.svg"</img></p>
            <p><img class="mobileLink" src="images/android.ca.en.svg"</img></p>
            
         </div>

      </div>
   </div>
</footer>